body{
    background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.5)),url("img/bg.jpg");
    /* background-image: url('img/bg.jpg'); */
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative; 
    background-attachment: fixed;
    color: #ffffff;
    
}
.clock{
    border-top: 10px solid red;
}
.about .content ul {
    list-style: none;
    padding: 0;
  }

  .contact {
    background: rgba(255, 255, 255, 0.06);
    padding: 30px;
  }